In [1]:
import pandas as pd
import numpy as np

# database imports
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func, inspect,Column, Integer, String, Float,create_engine
from sqlalchemy.ext.declarative import declarative_base

In [2]:

engine_pg = create_engine('postgresql+psycopg2://postgres:admin@localhost/Project_3_ev_stations')
engine_lite = create_engine("sqlite:///ev_station.sqlite")

In [3]:

conn_pg = engine_pg.connect()
conn_lite = engine_lite.connect()

In [4]:
# reflect an existing database into a new model
Base_pg = automap_base()
# reflect the tables
Base_pg.prepare(engine_pg, reflect=True)

# reflect an existing database into a new model
Base_lite = automap_base()
# reflect the tables
Base_lite.prepare(engine_lite, reflect=True)

In [5]:
print(engine_pg.table_names())

['alt_fuel_stations', 'usandworldco2', 'statesco2_emission']

<ipython-input-5-01053105996d>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine_pg.table_names())

In [11]:
df=pd.read_sql('SELECT * from alt_fuel_stations',conn_pg)
df.head()

                      station_name    zip   latitude   longitude    id
0         LADWP - Truesdale Center  91352  34.248319 -118.387971  1517
1  LADWP - West LA District Office  90024  34.052542 -118.448504  1519
2    Los Angeles Convention Center  90015  34.040539 -118.271387  1523
3    LADWP - John Ferraro Building  90012  34.059133 -118.248589  1525
4       LADWP - Haynes Power Plant  90803  33.759802 -118.096665  1531

In [12]:
df.to_sql('alt_fuel_stations',conn_lite)